
/* cores */

h1 
{
    color: red;
    background: black;
}

.h1-com-classe{

    color: #ff5588aa;
    background: purple;

}

#h1-com-id {

    color: rgb(51, 81, 250, 0.9);
    background: magenta;

}

/* Padding, fontes, etc */

.container{

    margin: auto;
    font-family: "Pacifico", serif;

}
.container2{

    background-color: #303030;
    
    color: #eee;
    
    width: 80%;
    
    margin: auto;

    padding: 50px;
    padding-left: 0px;

    border: 3px dotted red;
    border-top: 5px solid blue;

    box-sizing: border-box;

} 

.mainaside {

    text-align: center;

}


.mainaside ul{

    list-style: square;
    
    padding: 0;
    
}


.mainaside ul a{

    text-decoration: none;
    color: #000;
    
}
.mainaside ul a:visited{

    color: rgb(2, 52, 2);

}
.mainaside ul a:hover{

    color: red;

}


.mainaside h2:hover{

    color: purple;
    cursor: pointer;

}