* {
    box-sizing: border-box;
}

/* pseudoclassesesese */

.categorias ul{

    list-style: none;

}

.categorias ul li:first-child {
    color: #ff0000;
}
.categorias ul li:last-child {
    color: blue;
}
.categorias ul li:nth-child(3) {
    color: green;
}

.categorias ul li:nth-child(even) {
    background-color: #bbb;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Position */

.div-relative{
    
    border: 3px solid red;

    position: relative;
    left: 200px;
    bottom: 20px;


}

.relative-pai{

    border: 3px solid blue;
    position: relative;
    height: 200px;
    width: 900px;

    left: 20px;

}
.div-absolute {

    border: 2px solid green;
    
    position: absolute;
    top: 90px;

}

.div-fixed {

    position: fixed;
    border: 3px solid chocolate;
    background: white;
    top: 0px;

}

.div-sticky{

    position: sticky;
    border: 3px solid rgb(18, 219, 68);
    background: rgb(160, 221, 161);
    top: 0px;
    right: 200px;
    margin: 3px;
    margin-right: 30%;
    margin-left: 10%;
    

}

/* cores */

h1 
{
    color: red;
    background: black;
}

.h1-com-classe{

    color: #ff5588aa;
    background: purple;

}

#h1-com-id {

    color: rgb(51, 81, 250, 0.9);
    background: magenta;

}

/* Padding, fontes, etc */

.container{

    margin: auto;
    font-family: "Pacifico", serif;

}
.container2{

    background-color: #303030;
    
    color: #eee;
    
    width: 80%;
    
    margin: auto;

    padding: 50px;
    padding-left: 0px;

    border: 3px dotted red;
    border-top: 5px solid blue;

    box-sizing: border-box;

} 

.mainaside {

    text-align: center;

}


.mainaside ul{

    list-style: square;
    
    padding: 0;
    
}


.mainaside ul a{

    text-decoration: none;
    color: #000;
    
}
.mainaside ul a:visited{

    color: rgb(2, 52, 2);

}
.mainaside ul a:hover{

    color: red;

}


.mainaside h2:hover{

    color: purple;
    cursor: pointer;

}

/* Formularios */

.formmain{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 11px;

    width: 80%;
    margin: auto;

}

.formmain div{

    padding-bottom: 10px;

}

.formmain div label{

    display: block;
    
}
.formmain div input {

    padding: 10px;
    width: 100%;

}

.butao {

    color: white;
    background-color: black;
    border-color: green;
    padding: 10px;
    border-radius: 30px;
    border-width: 10px;

}