.container {

    display: flex;
    
    flex-direction: row;

    /* justify-content: center;
    justify-content: flex-end; */
    justify-content: space-evenly;


}

.container div{

    border: 2px solid darkblue;
    padding: 10px;
    /* margin-left: 10%;
    margin-right: 10%; */

}